.cardContainer {
    display: flex;
    justify-content: center;
}

.card {
    margin-bottom: 20px;
    margin-top: 20px;
}

img {
    width: 350px;
    height: 350px;
}

.bottomFlexContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/* 
.btnContainer {
  display: flex;
  justify-content:right
} */

p {
    height: 90px;
}

